[user]
        #name =
        #email =
        #signingkey = /PATH/TO/.SSH/KEY.PUB
[commit]
        gpgsign = true
[gpg]
        format = ssh
[core]
        excludesfile = ~/.gitignore
[init]
        defaultBranch = main
[pull]
        ff = only
[alias]
        fpush = push
[includeIf "gitdir:~/www/ent/"]
        path = ~/.gitconfig-ent
